<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994894361133-uqqnrrd7nrpo09ri15sgkha288jcrk6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994894361133-uqqnrrd7nrpo09ri15sgkha288jcrk6o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>994894361133-v7auu8ka2tb86unjjfav0npu5cbmab1g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMscDK0jGckOxic_wg8OXEZLTIZ-T5A6s</string>
	<key>GCM_SENDER_ID</key>
	<string>994894361133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parkinguser.parkingusers</string>
	<key>PROJECT_ID</key>
	<string>loginparkingusers</string>
	<key>STORAGE_BUCKET</key>
	<string>loginparkingusers.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994894361133:ios:5a0dba41eca164e450fea4</string>
</dict>
</plist>