<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Parkingusers</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>parkingusers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>


	<key>GMSApiKey</key>
    <string>AIzaSyAddHsD3cuLiMrdG7CyfdktWpitgdheePQ</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSLocationWhenInUseUsageDescription</key>
    <string>ParkingUsers necesita tu ubicación para centrar el mapa allí.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>ParkingUsers necesita tu ubicación para mostrar tu posición en el mapa aun con la app en segundo plano.</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- permiso para red local (Flutter Debug) -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>Necesitamos acceso a la red local para el servicio de depuración (hot-reload y DevTools).</string>

     <!-- servicios Bonjour usados por Flutter Debug -->
     <key>NSBonjourServices</key>
     <array>
            <string>_dartobservatory._tcp</string>
            <string>_dartobservatory._udp</string>
            <string>_dartpubserver._tcp</string>
            <string>_dartpubserver._udp</string>
     </array>
</dict>
</plist>
